
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(rgb(255, 255, 255), rgb(252, 254, 255));
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
    grid-template-areas: ". . ." ". title ." ". content ." ". . .";
    text-align:center;
}

form {
    grid-area: content;
    padding: 70px;
    border: 1px solid black;
    border-radius: 40px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
      box-shadow: 6px 6px 2px 1px rgba(104, 104, 105, 0.2);
    background: white;
}

form > input {
    padding: 5px;
    font-size: 20px;
    background: rgb(252, 252, 252);
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
}

select {
    padding: 5px;
    border-radius: 20px;
    background: rgb(252,252,252);
    border: 1px solid rgb(189, 189, 189);
}

h1 {
    grid-area: title;
        font-family: "Sixtyfour", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "BLED" 0,
          "SCAN" 0;
}

.section_label {
    font-style: italic;
    font-weight: 700;
}